<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>holidays</th>
      <th>count holidays</th>
    </tr>
    <tr>
      <th>seasons</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>spring_2008</th>
      <td>Memorial Day</td>
      <td>1</td>
    </tr>
    <tr>
      <th>spring_2009</th>
      <td>Memorial Day</td>
      <td>1</td>
    </tr>
    <tr>
      <th>spring_2010</th>
      <td>Memorial Day</td>
      <td>1</td>
    </tr>
    <tr>
      <th>summer_2008</th>
      <td>Independence Day, Labor Day</td>
      <td>2</td>
    </tr>
    <tr>
      <th>summer_2009</th>
      <td>Independence Day (Observed), Independence Day, Labor Day</td>
      <td>3</td>
    </tr>
    <tr>
      <th>summer_2010</th>
      <td>Independence Day, Independence Day (Observed), Labor Day</td>
      <td>3</td>
    </tr>
    <tr>
      <th>autumn_2008</th>
      <td>Columbus Day, Veterans Day, Thanksgiving</td>
      <td>3</td>
    </tr>
    <tr>
      <th>autumn_2009</th>
      <td>Columbus Day, Veterans Day, Thanksgiving</td>
      <td>3</td>
    </tr>
    <tr>
      <th>autumn_2010</th>
      <td>Columbus Day</td>
      <td>1</td>
    </tr>
    <tr>
      <th>winter_2008</th>
      <td>Christmas Day, New Year's Day, Martin Luther King Jr. Day, Washington's Birthday</td>
      <td>4</td>
    </tr>
    <tr>
      <th>winter_2009</th>
      <td>Christmas Day, New Year's Day, Martin Luther King Jr. Day, Washington's Birthday</td>
      <td>4</td>
    </tr>
  </tbody>
</table>